* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: red;
    text-align: center;
    padding:30px;
    color: white;
    font-size: 60px;
    text-transform: uppercase;
}

.cabecalho > img {
    position: absolute;
    top: 20px;
    left: 70px;
}

.menu {
    background-color: rgb(59, 0, 0);
    box-sizing: content-box;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.menu > a {
    text-decoration: none;
    color: white;
    margin: 20px;
}

.menu > a:hover {
    text-decoration: underline;
}

.principal {
    max-width: 50%;
    height: 480px;
    float: left;
    /* background-color: rgb(52, 105, 105); */
    margin-bottom: 0px;
}

.principal > img {
    margin-left: 31%;
    margin-top: 20px;
}

.principal > h2 {
    text-align: center;
    margin: 20px;
}

.principal > p {
    text-align: justify;
    margin: 30px 30px 0px 40px;
}

.secundario {
    width: 25%;
    height: 480px;
    float: left;
    /* background-color: blanchedalmond; */
}

.secundario > h2 {
    text-align: center;
    margin-top: 40px;
}

.secundario > p {
    text-align: justify;
    margin: 20px;
}

.anuncios {
    width: 25%;
    height: 480px;
    float: left;
    /* background-color: chartreuse; */
}

.anuncio1 {
    text-align: center;
    margin-top: 140px;
}

.anuncio1 > a {
    background-color: dimgray;
    font-size: 35px;
    text-decoration: none;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
}

.anuncio2 {
    text-align: center;
    margin-top: 140px;
}

.anuncio2 > a{
    background-color: mediumaquamarine;
    text-decoration: none;
    font-size: 35px;
    border-radius: 10px;
    padding: 15px 30px 15px 30px;
}

.anuncio1 > a:hover {
    text-decoration: underline;
}

.anuncio2 > a:hover {
    text-decoration: underline;
}

/*.anuncio1 {
    background-color: rgb(79, 79, 150);
    float: right;
    margin-right: 80px;
    margin-top: 100px;
    padding: 15px 40px 15px 40px;
}

.anuncio1 > a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.anuncio2 {
    background-color: rgb(79, 79, 150);
    float: right;
    margin-right: 80px;
    margin-top: 70px;
    padding: 15px 40px 15px 40px;
}

.anuncio2 > a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
} */

.artigos {
    width: 50%;
    height: 240px;
    /* background-color: burlywood; */
    float: left;
}

.artigo1 {
    width: 70%;
    height: 180px;
    background-color: yellow;
    border-radius: 10px;
    margin-left: 90px;
    margin-top: 30px;
}

.imagem {
    margin: 15px;
    float: top;
    max-width: 1650px
}

.artigo1 > p {
    float: right;
    width: 60%;
    text-align: justify;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.artigo1 > h2 {
    float: right;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-right: -95px;
}

.artigos2 {
    width: 50%;
    height: 240px;
    /* background-color: rgb(235, 158, 231); */
    float: left;
}

.artigo2 {
    width: 70%;
    height: 180px;
    background-color: rgb(221, 156, 140);
    border-radius: 10px;
    margin-left: 90px;
    margin-top: 30px;
}

.artigo2 > p {
    float: right;
    width: 60%;
    text-align: justify;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.artigo2 > h2 {
    float: right;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-right: -95px;
}

.rodape {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 30px;
    clear: both;
    text-align: center;
}

.rodape > p {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 0;
    padding: 0;
}