* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: red;
    text-align: center;
    padding:50px;
    color: white;
}

.cabecalho > img {
    position: absolute;
    top: 20px;
    left: 70px;
}

.menu {
    background-color: rgb(59, 0, 0);
    box-sizing: content-box;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.menu > a {
    text-decoration: none;
    color: white;
    margin: 20px;
}

.principal {
    width: 50%;
    background-color: rgb(52, 105, 105);
    float: left;
}

.principal > img {
    margin-left: 25%;
    margin-top: 20px;
}

.principal > h2 {
    text-align: center;
    margin: 20px;
}

.principal > p {
    text-align: justify;
    margin: 30px;
}

.secundario {
    width: 25%;
    float: left;
    background-color: blanchedalmond;
}

.secundario > h2 {
    text-align: center;
    margin-top: 40px;
}

.secundario > p {
    text-align: justify;
    margin: 20px;
}

.anuncio1 {
    background-color: rgb(79, 79, 150);
    float: right;
    margin-right: 80px;
    margin-top: 100px;
    padding: 15px 40px 15px 40px;
}

.anuncio1 > a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.anuncio2 {
    background-color: rgb(79, 79, 150);
    float: right;
    margin-right: 80px;
    margin-top: 70px;
    padding: 15px 40px 15px 40px;
}

.anuncio2 > a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.artigo1 {
    float: bottom;
    width: 50%;
}





.artigo2 {
    float: right;
    width: 50%;
}
